<head>
	<title>
		{{ site.title }}
	</title>

	{% comment %} Site/Page description {% endcomment %}
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% else %}
	<meta name="description" content="{{ site.description }}">
	{% endif %}

	{% comment %} Twitter Card {% endcomment %}
	<meta name="twitter:card" content="summary">

	{% if page.url %}
	<meta name="twitter:domain" content="{{ site.url }}{{ page.url }}">
	{% else %}
	<meta name="twitter:domain" content="{{ site.url }}">
	{% endif %}

	{% if page.title %}
	<meta name="twitter:title" content="{{ page.title }}">
	{% else %}
	<meta name="twitter:title" content="{{ site.title }}">
	{% endif %}


	{% if site.twitter %}
	<meta name="twitter:site" content="@{{ site.twitter }}">
	{% endif %}

	{% if site.twitter %}
	<meta name="twitter:creator" content="@{{ site.twitter }}">
	{% endif %}

	{% if page.url %}
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	{% else %}
	<meta name="twitter:url" content="{{ site.url }}">
	{% endif %}

	{% if page.description %}
	<meta name="twitter:description" content="{{ page.description }}">
	{% else %}
	<meta name="twitter:description" content="{{ site.description }}">
	{% endif %}

	{% comment %} Facebook Open Graph {% endcomment %}
	<meta content="{{ site.title }}" property="og:site_name">

	{% if page.title %}
	<meta content="{{ page.title }}" property="og:title">
	{% else %}
	<meta content="{{ site.title }}" property="og:title">
	{% endif %}

	{% if page.title %}
	<meta content="article" property="og:type">
	{% else %}
	<meta content="website" property="og:type">
	{% endif %}

	{% if page.description %}
	<meta content="{{ page.description }}" property="og:description">
	{% else %}
	<meta content="{{ site.description }}" property="og:description">
	{% endif %}

	{% if page.url %}
	<meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}

	{% if page.date %}
	<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	{% endif %}

	{% if page.categories %}
	{% for category in page.categories limit:1 %}
	<meta content="{{ category }}" property="article:section">
	{% endfor %}
	{% endif %}

	{% comment %} Site/Page keywords {% endcomment %}
	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% else %}
	<meta name="keywords" content="{{ site.keywords }}">
	{% endif %}

	{% comment %} Search Engine crawl settings {% endcomment %}
	{% if noidex == true %}
	<meta name="robots" content="noindex, nofollow">
	{% else %}
	<meta name="robots" content="index, follow">
	{% endif %}

	{% comment %} Google Website Verification settings {% endcomment %}
	{% if site.google_site_verification %}
	<meta name="google-site-verification" content="{{ site.google_site_verification }}">
	{% endif %}

	{% if site.bing_site_verification %}
	<meta name="msvalidate.01" content="{{ site.bing_site_verification }}"/>
	{% endif %}

	{% comment %} Google Authorship {% endcomment %}
	<a href="https://plus.google.com/{{ site.google }}?rel=author"></a>
	
	<a href="https://plus.google.com/{{ site.google }}" rel="publisher" />

	<!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="generator" content="MiniSoda">

	<!-- Mobile Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<!-- Stylesheet links -->
	<link href="/styles/screen.css" media="screen" rel="stylesheet" type="text/css" />



	<!-- Fonts -->
	<link href='//fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,600">

	{% include stats.html %}
	{% include scripts.html %}

</head>